<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h1>변환된 URL</h1>
  </div>
  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>기존 URL</th>
        <th>변환된 URL</th>
      </thead>
      <tbody>
      <tr>
        <td th:text="${url.getLongUrl}">긴 유알엘</td>
<!--        <td><a th:href="@{${url.getLongUrl}}" th:text="${url.getShortUrl}">변환된 유알엘</a></td>-->
<!--         <td><a th:href="@{${url.getLongUrl}}" th:text="${url.getShortUrl}">변환된 유알엘</a></td>-->
         <td><a th:href="@{${url.getShortUrl}}" th:text="${url.getShortUrl}">변환된 유알엘</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>